<div class="col-lg-12 col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" v-on:click="goTo(-1)">
                    <b-icon icon="house-door-fill"></b-icon>
                </a></li>
            <li class="breadcrumb-item active" v-for="(path, index) in fileSystem.pathList">
                <a v-if="index < fileSystem.pathList.length -1" href="#" v-on:click="goTo(index)">{{path}}</a>
                <span v-else>{{path}}</span>
            </li>
        </ol>
    </nav>
    
    <template v-if="fileSystem.displayMode=='table'">{% include 'extensions/file_table.html' %}</template>
    <template v-if="fileSystem.displayMode=='grid'">{% include 'extensions/file_grid.html' %}</template>

</div>
