<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}</title>
    {% include "../requires.html" %}
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar color="indigo darken-2" dense dark app clipped-left>
                {% include "base/navbar.html" %}
            </v-app-bar>
            <v-main>
                <v-container fluid >
                    <v-row>{% include "base/toolbar.html" %}</v-row>
                    <v-row dense>{% include 'base/files.html' %}</v-row>
                    {% include 'extensions/upload_progress.html' %}
                </v-container>
            <!-- TODO: How to set animation -->
            <v-btn  rounded  dark color="purple" style="z-index: 100;" fixed right bottom elevation="12" class="1s blink-smooth 3; ">
                <v-icon dark>mdi-cloud-upload</v-icon> [[uploadQueue.completed]]/[[uploadQueue.tasks.length]]
            </v-btn>
        </v-main>
        <v-footer>
            {% include 'base/footer.html' %}
            
        </v-footer>
    </v-app>
</div>
<script type="module" src="/static/material_app.js"></script>

</body>

</html>