<table class="table table-hover table-sm" style="width: 100%;">
    <thead class="table-light">
        <tr>
            <th><b-form-checkbox v-model="fileSystem.selected.all" :indeterminate='fileSystem.selected.indeterminate' @change='toggleAll'></b-form-checkbox></th>
            <th>{{I18N.t('file')}} <b-icon icon="sort-alpha-down"></b-icon></th>
            <th>{{I18N.t('size')}} </th>
            <th>{{I18N.t('modifyTime')}}</th>
            <th>{{I18N.t('operation')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(item, index) in fileSystem.pathItems" v-model="fileSystem.pathItems">
            <td> <b-form-checkbox :value="item" v-model='fileSystem.selected.items[index]' @change='toggleSelected'></b-form-checkbox>
            </th>
            <td v-on:click="clickPath(item)">
                <b-icon icon="folder-fill" variant="warning" v-if='item.folder'></b-icon>
                <b-icon icon="file-earmark-zip-fill" variant="success" v-else-if='item.type=="zip"'></b-icon>
                <b-icon icon="markdown-fill" variant="info" v-else-if='item.type=="md"'></b-icon>
                <b-icon icon="file-text-fill" variant="info" v-else-if='item.type=="txt"'></b-icon>
                <b-icon icon="file-earmark-fill" v-else></b-icon>
                {{item.name}}
            </td>
            <td>{{item.size}}</td>
            <td style="width: 120px">
                <span style="font-size: small;">{{item.mtime}}</span>
            </td>
            <td>

                <b-dropdown right size="sm">
                    <template #button-content><b-icon icon="tools"></b-icon></template>
                    <b-dropdown-item v-on:click="showRenameModal(item)"  v-b-modal.modal-rename>
                        <b-icon icon="vr" variant="info"></b-icon> {{I18N.t('rename')}}
                    </b-dropdown-item>
                    <b-dropdown-item v-on:click="zipDirectory(item)" v-if="item.folder">
                        <b-icon icon="file-zip" variant="info"></b-icon> {{I18N.t('zip')}}
                    </b-dropdown-item>
                    <b-dropdown-item v-on:click="setFileQrcode(item)" v-b-modal.modal-filelink v-if="!item.folder">
                        <b-icon icon="upc-scan" variant="info"></b-icon>{{I18N.t('displayQRCode')}}</b-dropdown-item>
                    <b-dropdown-item v-on:click="makeSureDeleteItems([item])" v-if="!item.folder">
                        <b-icon icon="trash" variant="danger"></b-icon></b-icon> {{I18N.t('delete')}}</b-dropdown-item>
                    <b-dropdown-item  v-on:click="showFileModal(item)" v-b-modal.modal-file v-if="isEditable(item)">
                        <b-icon icon="eye" variant="info"></b-icon> {{I18N.t('view')}}</b-dropdown-item>
                    <b-dropdown-item v-if="!item.folder" v-on:click="downloadItem(item)">
                        <b-icon icon="download" variant="info"></b-icon></b-icon> {{I18N.t('download')}}</b-dropdown-item>
                  </b-dropdown>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal file content -->
<b-modal id="modal-file" size="lg" :title="fileEditor.name"  hide-footer>
    <pre v-if="fileEditor.mode=='code'" class="hljs"><div-html v-html="fileEditor.content" ></div-html></pre>
    <div-html v-else-if="fileEditor.mode=='html'" v-html="fileEditor.content"></div-html>
    <textarea v-else class="form-control" v-model="fileEditor.content" cols="30" rows="20"></textarea>
</b-modal>

<!-- Modal qrcode -->
<b-modal id="modal-filelink" :title="downloadFile.name" @shown="showFileQrcode()"  hide-footer>
    <div id='fileQrcode' style="width: 50%; margin: 0 auto "></div>
</b-modal>

<!-- Modal rename -->
<b-modal id="modal-rename" :title="I18N.t('rename')">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">{{I18N.t('filename')}}</label>
        <b-form-input class="form-control" :value="renameItem.name" disabled></b-form-input>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">{{I18N.t('newFileName')}}</label>
        <b-form-input class="form-control" v-model="renameItem.newName" required></b-form-input>
    </div>
    <template #modal-footer>
        <b-button block variant="warning" v-on:click="renameDir()">{{I18N.t('rename')}}</b-button>
    </template>
</b-modal>
